*{padding:0;margin:0;border:0;}
*,*:before,*:after{box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;}
input,button,textarea{font-family:inherit;}
input{display:none;}
button{cursor:pointer;}
button{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
img{vertical-align:top;}
ul li{list-style: none;}
h2{font-size: 2rem;font-weight: 300;}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  background-color: #99ccff;
  margin-bottom: 20px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 25px;
}
.burger-menu {
  display: none;
}
.header__logo {
  color: white;
  font-size: 2.5rem;
  font-weight: 100;
}
.header__logo span {
  color: #162b4d;
}
.header__menu {
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
}
.menu__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  color: white;
}
.menu__link:hover {
  background: rgba(22, 43, 77, 0.5);
}
.pre-main {
  background-image: url('../img/section1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: white;
  margin-bottom: 20px;
}
.pre-main__content {
  margin-top: 200px;
}
.main__container {
  display: flex;
  justify-content: space-between;
  color: #484848;
  padding: 0 2%;
  max-width: 1200px;
  margin-bottom: 20px;
}
.main__posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main__post {
  display: flex;
  margin-right: 20px;
}
.main__post:nth-child(2n) {
  flex-direction: row-reverse;
}
.post-1 {
  background-color: #F3D250;
}
.post-2 {
  background-color: #8D8741;
}
.post-3 {
  background-color: #659DBD;
}
.post-4 {
  background-color: #DAAD86;
}
.main__post img {
  width: 50%;
  object-fit: cover;
}
.main__post:hover {
  color: rgba(72, 72, 72, 0.5)
}
.post__content {
  display: flex;
}
.post__text, .post__date {
  margin: 15px 10px;
}
.post__text h2 {
  margin-bottom: 1rem;
}
.main__news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main__news-post {
  border: 2px solid #506079;
  margin-bottom: 20px;
}
.main__news-post img {
  width: 100%;
  object-fit: cover;
}
.news-post__content {
  padding: 30px 20px
}
.news-post__content h2, .news-post__content p, .news-post__content button {
  margin-bottom: 20px;
}
.news-post__button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px solid #484848;
}
.news-post__button:hover {
  border-top: none;
  border-right: none;
  border-left: none;
}
footer {
  color: white;
  background-color: #162b4d;
  font-weight: 300;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 25px;
}
@media (max-width: 1280px) {
  .container {
    max-width: 768px;
  }
  .header__row {
    flex-direction: column;
    justify-content: center;
  }
  .menu__list {
    display: none;
  }
  
  .burger-menu {
    display: block;
  }
  .menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
  }
  .menu-btn span::before {
    transform: translateY(-5px);
  }
  .menu-btn span::after {
    transform: translateY(5px);
  }
  .pre-main__content {
    margin-top: 100px;
  }
  .main__posts {
    width: 400%;
  }
  .main__post:nth-child(n) {
    flex-direction: column;
  }
  .main__post img {
    width: 100%;
    height: 50%;
  }
  .post__content {
    flex-direction: column;
  }
  .post__date{
    text-align: center;
  }
  .footer__row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
  }
  .main__container {
    flex-direction: column;
  }
  .main__post img {
    width: 30%;
  }
  .post__content {
    white-space: pre-line;
  }
}
