body {
  padding: 0;
  margin: 0 0 5vh;
}

ul {list-style-type: none; }

.calendar {
  display: grid;
  grid-template-rows: 5rem auto;
  width: 70%;
  margin: auto;
}

.calendar__month {
  background-color: black;
  color: white;
  padding-bottom: 1rem;
}

.calendar__month h1 {
  text-align: center;
  vertical-align: middle;
}

.calendar__dates {
  margin: auto;
}

.calendar__weekdays,
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
}

.calendar__weekdays li::before,
.calendar__days li::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
}

.calendar__weekdays li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  font-weight: bold;
}

.calendar__days li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(228, 228, 228);
  background-color: rgb(228, 228, 228);
}

.calendar__days .last-month-day {
  background-color: white;
}
