* {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #483d8b;
  font-family: "Architects Daughter", cursive; }

.container {
  width: 1000px;
  max-width: 90%;
  padding: 15px;
  margin: 10px;
  background: linear-gradient(120deg, #ec9de0, #5a61f8);
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #340064; }
  .container .header .header__title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: #4e2b8f;
    font-family: "Do Hyeon", sans-serif; }
  .container .header .rules {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    font-size: 20px; }
  .container .header img {
    width: 60%;
    border-radius: 10px; }
  .container .header h2 {
    text-align: center;
    font-size: 35px;
    margin: 20px;
    color: #a3107e;
    font-family: "Do Hyeon", sans-serif; }
  .container .game__choose-figure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .container .game__choose-figure .choose-btn {
      max-width: 300px; }
      .container .game__choose-figure .choose-btn img {
        width: 100%;
        border-radius: 7px; }
  .container .game__reset {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #a3107e;
    color: antiquewhite;
    text-decoration: none;
    font-size: 35px; }

/*# sourceMappingURL=style.css.map */
