*{padding:0;margin:0;border:0;}
*,*:before,*:after{box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;}
input,button,textarea{font-family:inherit;}
input{display:none;}
button{cursor:pointer;}
button{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
img{vertical-align:top;}

h1,h2,h3,h4,h5,h6,input{font-family: 'Roboto', sans-serif;}
p{font-family: 'Open Sans', sans-serif; font-style: italic;}
h1 {font-size: 5em;}
h2 {font-size: 3em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em; font-weight: normal;}
header {
    height: 100%;
    color: #ffffff;
    background-color: #0b013c;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 50% top 50%;
}

.header__content {
    height: inherit;
    width: 1140px;
    padding: 2% 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}
.logo {
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}
.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__content input[type="email"] {
    font-size: 1em;
    padding: 15px 160px 15px 15px;
    margin-right: 10px;
}
.header__content input[type="submit"] {
    font-size: 1em;
    padding: 15px 30px;
    background-color: #f8cb8a;
    color: #111111;
}
.header__content input[type="submit"]:hover {
    background-color: #f6bb66;
}
main {
    background-color: #fefaf3;
    padding: 100px 0 50px;
}
.main__content {
    max-width: 1140px;
    margin: 0 auto;
}
main p {
    color: #808080;
}
main h2, main h4 {
    color: #0b013c;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 150px;
    text-align: center;
}
hr {
    margin: 0 auto;
    height: 10px;
    width: 100px;
    background-color: #f8cb8a;
}
.main__content .post > *{
    display: flex;
    justify-content: space-between;
}
.post__big, .post__small_1, .post__small_2 {
    background-color: #ffffff;
}
.post__big {
    height: 500px;
    margin-bottom: 100px;
}
.post__big img {
    width: 65%;
}
.post__small img {
    width: 100%;
}
.post__small_1, .post__small_2 {
    width: 46%;
}
.post .text_big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin: auto 30px;
}
.post .text_small {
    margin: 35px 30px
}
.pre_footer {
    color: #ffffff;
    background-color: #0b013c;
    background-image: url('../img/space-bg.png'), url('../img/space-bg.png');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 600px;
}
.pre_footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    box-sizing: content-box;
    text-align: center;
    padding: 125px 0;
    white-space: pre-line;
}
footer {
    color: #ffffff;
    background-image: url('../img/footer-img.png'), url('../img/footer-bg.jpeg');
    background-repeat: no-repeat;
    background-position: 80%, center;
    background-size: 30%, cover;
    height: 500px;
}
footer a {
    color: #ffffff;
}
.footer_content {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 200px;
    box-sizing: content-box;
}
.footer_content h3 {
    margin-bottom: 1em;
}
.footer_content p {
    font-style: normal;
}
.footer_content .email:hover {
    text-decoration: underline;
}