* {
  padding: 0;
  margin: 0;
  border: 0; }

.header-wrap .header_text, .section_card_wrap .section_card_right_container .section_card_text, .section_banner_text_wrap .section_banner_text, .footer {
  font-family: "Hind", sans-serif; }

body {
  background-color: #fff;
  color: #2c2f3c;
  font-family: "Source Sans Pro", sans-serif; }

.header {
  grid-template-columns: 50% 50%;
  padding: 20px 150px 100px;
  background: url("../img/m-h-day.jpg") 0 40%/cover no-repeat;
  border-radius: 0 0 50% 0; }
  .header-wrap .landing-logo {
    display: flex;
    align-items: center;
    margin-bottom: 90px; }
    .header-wrap .landing-logo img {
      width: 50px;
      margin-right: 5px; }
    .header-wrap .landing-logo p {
      font-size: 28px;
      text-align: center; }
    .header-wrap .landing-logo span {
      display: block;
      font-size: 14px; }
  .header-wrap .header_heading {
    position: relative;
    z-index: 1;
    width: 50%;
    font-size: 64px;
    line-height: 70px;
    font-weight: bold;
    margin-bottom: 30px; }
    .header-wrap .header_heading::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 270px;
      height: 50px;
      background-color: #14a0c7;
      top: 90px; }
  .header-wrap .header_text {
    white-space: pre-line;
    margin-bottom: 70px; }
  .header-wrap div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%; }
    .header-wrap div:last-child .header_button {
      width: 130px;
      height: 50px;
      background-color: #699900;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold; }
    .header-wrap div:last-child a {
      color: #fff;
      font-size: 18px; }

.section {
  margin-top: 40px;
  margin-bottom: 100px; }
  .section_text {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-align: center; }
    .section_text::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 185px;
      height: 50px;
      background-color: #14a0c7;
      left: 765px;
      bottom: 5px; }
  .section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .section_card_wrap .section_card {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 0;
      width: 70%;
      margin: 20px auto;
      background-color: #21232e;
      height: 300px;
      color: #fff; }
      .section_card_wrap .section_card_img {
        grid-column: 1/2;
        margin: 30px;
        width: 70%;
        border-radius: 5px; }
      .section_card_wrap .section_card_right_container {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 150px; }
        .section_card_wrap .section_card_right_container .section_card_heading {
          margin-top: 50px;
          font-size: 22px;
          font-weight: bold; }
        .section_card_wrap .section_card_right_container .section_card_text {
          font-size: 14px; }
        .section_card_wrap .section_card_right_container a {
          color: #fff;
          font-size: 14px;
          margin-bottom: 30px; }
  .section_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%;
    left: 10%;
    top: 175px;
    height: 150px;
    border-radius: 5px;
    background: linear-gradient(45deg, #689805, #2c5adb); }
    .section_banner_text_wrap .section_banner_heading {
      position: relative;
      z-index: 1;
      color: #2c2f3c;
      font-size: 32px;
      font-weight: bold; }
      .section_banner_text_wrap .section_banner_heading::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 70px;
        height: 50px;
        background-color: #14a0c7;
        left: 129px;
        bottom: 5px; }
    .section_banner_text_wrap .section_banner_text {
      color: #fff;
      font-size: 16px;
      margin-top: 20px; }
    .section_banner .section_banner_button {
      width: 130px;
      height: 50px;
      background-color: #699900;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold; }

.footer {
  background-color: #21232e;
  color: #fff; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 50px; }
    .footer-wrap .landing-logo {
      display: flex;
      align-items: center; }
      .footer-wrap .landing-logo img {
        width: 50px;
        margin-right: 5px; }
      .footer-wrap .landing-logo p {
        font-size: 28px;
        text-align: center; }
      .footer-wrap .landing-logo span {
        display: block;
        font-size: 14px; }
    .footer-wrap .footer_text {
      width: 300px; }
