*{padding:0;margin:0;border:0;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $site-background;
    font-family: map-get($fonts, main);
}

.container {
    width: 1000px;
    max-width: 90%;
    padding: 15px;
    margin: 10px;
    background: $container-background;
    border-radius: 5px;
    box-shadow: $container-shadow;

    .header {
        
        .header__title {
            text-align: center;
            font-size: 50px;
            margin-bottom: 20px;
            color: #4e2b8f;
            font-family: map-get($fonts, headings);
        }

        .rules {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 40px;
            font-size: 20px;
        }

        img {
            width: 60%;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
            font-size: 35px;
            margin: 20px;
            color: #a3107e;
            font-family: map-get($fonts, headings);
        }
    }

    .game {
        &__choose-figure {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .choose-btn {
                max-width: 300px;
                img {
                    width: 100%;
                    border-radius: 7px;
                }
            }
        }

        &__reset {
            display: block;
            text-align: center;
            padding: 20px;
            background-color: #a3107e;
            color: antiquewhite;
            text-decoration: none;
            font-size: 35px;
        }
    }
}
