$fonts: (
    main: ('Architects Daughter', cursive),
    headings: ('Do Hyeon', sans-serif)
);
$site-background: #483d8b;
$container-background: linear-gradient(120deg, #ec9de0, #5a61f8);
$container-shadow: 0 0 20px 2px  #340064;