body {
    font-family: 'Roboto', sans-serif;
}
.logo {
    font-size: 1.5rem;
}
.btn-coral {
    background-color: coral;
}
.btn-coral:hover {
    background-color: lightcoral;
}
.darkgrey-text {
    color: #525252;
}