body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    padding: 0;
    margin: 0;
    background-color: #483d8b;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    max-width: 90%;
    padding: 15px;
    background: linear-gradient(120deg, #ec9de0, #5a61f8);
    border-radius: 3px;
    box-shadow: 0 0 20px 2px  rgb(52, 0, 100);
}

.controls {
    display: flex;
    justify-content: space-between;
}

.start-btn, .skip-btn {
    width: 15%;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(245, 197, 255);
    color: rgb(52, 0, 100);
    outline: none;
    box-shadow: 0 0 3px 0 rgb(52, 0, 100);
    font-family: 'Roboto', sans-serif;
}

.start-btn:hover, .skip-btn:hover {
    background-color: rgb(52, 0, 100);
    color: white;
}

.question-field, .end-of-game {
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.answer-buttons {
    display: flex;
    justify-content: space-between;
}

.answer-btn {
    width: 23%;
    height: 100px;
    background-color: #483d8b;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.answer-btn:hover {
    background-color: #3c3472;
    transform: scale(1.03);
}

.prize {
    padding-top: 15px;
    font-size: 20px;
}

.hide {
    display: none;
}