*{padding:0;margin:0;border:0;}

%paragraphs-font {
    font-family: map-get($fonts, paragraphs);
}

@mixin button {
    width: 130px;
    height: 50px;
    background-color: $buttons-background-color;
    color: $buttons-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

@mixin link {
    color: $buttons-color;
}

@mixin overflow ($width) {
    content: "";
    position: absolute;
    z-index: -1;
    width: $width;
    height: 50px;
    background-color: $overflow-color;
}

@mixin logo {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        margin-right: 5px;
    }
    
    p {
        font-size: 28px;
        text-align: center;
    }

    span {
        display: block;
        font-size: 14px;
    }
}

body {
    background-color: $site-background;
    color: $text-color;
    font-family: map-get($fonts, main);
}

.header {
    grid-template-columns: 50% 50%;
    padding: 20px 150px 100px;
    background: $header-background;
    border-radius: 0 0 50% 0;

    &-wrap {
        
        .landing-logo {
            @include logo();
            margin-bottom: 90px;
        }

        .header_heading {
            position: relative;
            z-index: 1;
            width: 50%;    
            font-size: 64px;
            line-height: 70px;
            font-weight: bold;
            margin-bottom: 30px;

            &::before {
                @include overflow(270px);
                top: 90px;
            }
        }

        .header_text {
            @extend %paragraphs-font;
            white-space: pre-line;
            margin-bottom: 70px;
        }

        div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 35%;

            .header_button {
                @include button();
            }

            a {
                @include link();
                font-size: 18px;
            }
        }
    }
}

.section {
    margin-top: 40px;
    margin-bottom: 100px;
    &_text {
        position: relative;
        font-size: 40px;
        font-weight: bold;
        text-align: center;

        &::before {
            @include overflow(185px);
            left: 765px;
            bottom: 5px;
        }
    }

    &_card_wrap {

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .section_card {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0;
            width: 70%;
            margin: 20px auto;
            background-color: $section-card-background;
            height: 300px;
            color: #fff;

            &_img {
                grid-column: 1/2;
                margin: 30px;
                width: 70%;
                border-radius: 5px;
            }

            &_right_container {
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin-right: 150px;
                
                .section_card_heading {
                    margin-top: 50px;
                    font-size: 22px;
                    font-weight: bold;
                }

                .section_card_text {
                    @extend %paragraphs-font;
                    font-size: 14px;
                }

                a {
                    @include link();
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    &_banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 80%;
        left: 10%;
        top: 175px;
        height: 150px;
        border-radius: 5px;
        background: $gradient-background;

        &_text_wrap {
            .section_banner_heading {
                position: relative;
                z-index: 1;
                color: $text-color;
                font-size: 32px;
                font-weight: bold;

                &::before {
                    @include overflow(70px);
                    left: 129px;
                    bottom: 5px;
                }
            }
    
            .section_banner_text {
                @extend %paragraphs-font;
                color: #fff;
                font-size: 16px;
                margin-top: 20px;
            }
        }

        .section_banner_button {
            @include button();
        }
    }
}

.footer {
    background-color: $section-card-background;
    color: #fff;
    @extend %paragraphs-font;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 150px 100px 50px;

        .landing-logo {
            @include logo();
        }

        .footer_text {
            width: 300px;
        }
    }
}
