$fonts: (
    main: ('Source Sans Pro', sans-serif),
    paragraphs: ('Fresca', sans-serif)
);
$site-background: #21232e;
$header-background: url('../img/m-h-night.jpg') 0 40%/cover no-repeat;
$text-color: #fff;
$buttons-background-color: #e3ac00;
$buttons-color: #fff;
$overflow-color: #ff4e33;
$section-card-background: #3b3f50;
$gradient-background: linear-gradient(45deg,#e1a901, #922c53);