$fonts: (
    main: ('Source Sans Pro', sans-serif),
    paragraphs: ('Hind', sans-serif),
);
$site-background: #fff;
$header-background: url('../img/m-h-day.jpg') 0 40%/cover no-repeat;
$text-color: #2c2f3c;
$buttons-background-color: #699900;
$buttons-color: #fff;
$overflow-color: #14a0c7;
$section-card-background: #21232e;
$gradient-background: linear-gradient(45deg,#689805, #2c5adb);