﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3.3rem; 
  font-weight: bold; 
  margin-top: 200px;
}

button:hover,
button:focus {
  outline: none;
  cursor: pointer;
}

header, nav {
  background: url(../img/header-bg.jpg) no-repeat center top;
  background-size: cover;
  background-position: top;
  min-height: 500px;
}

.logo-negative {
  filter: invert(1);
}

.topic {
  position: relative;
}

.topic::after {
  content: "";
  position: absolute;
  top: 135%;
  right: 20%;
  height: 3px;
  width: 60%;
  background-color: #4a4a4a;
}

.get-in-touch-btn {
  background: url(../img/touch-bg.png) no-repeat;
  background-size: cover;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: white;
  height: 50px;
}

.works {
  background: #ebebeb;
}

.work-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.work-img {
  padding: 0;
}

.work-img-big-1 {
  grid-row: 1/3;
}

.work-img-big-2 {
  grid-row: 2/4;
}

.references-carousel {
  height: 220px;
}

.slider {
  object-fit: scale-down;
}

.reference-image {
  background: url(../img/references-img.jpg) top right no-repeat, url(../img/references-image-bg.png) 40% 120% no-repeat;
  background-size: 70%, 50%;
}

.references-carousel h2 {
  font-weight: bold;
}

.references-carousel p {
  font-weight: 300;
}

.reference-circles div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #62436f;
}

.reference-circles div:nth-child(2) {
  background-color: #c0b4c5;
}

.contact {
  background-color: black;
  padding: 100px 0;
}

.form-control {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}

footer {
  background: url(../img/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.footer-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
  font-size: 0.8rem;
  font-weight: 300;
}