* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}
p, q { line-height: 1.8; }
li {line-height: 2.4;}
q {
  font-size: 1.35rem;
  font-style: italic;
}
h1 { 
  font-size: 4rem; 
  color: white; 
  font-weight: 400; 
  margin: 0 0 8px;
  margin: auto;
}
h2 { 
  font-size: 1.8rem; 
  color: #76cdd8; 
  font-weight: 400; 
  margin: 0 0 8px; 
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}
.container {
  margin: 30px auto 0;
  max-width: 1140px;
}
.about-epam {
  display: flex;
  position: relative;
  min-height: 400px;
  background-color: white;
}
.about-epam > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 48px 63px;
}
.img-fluid {
  transition: 0.3s;
}
.img-fluid:hover {
  transform: scale(1.1);
}
.turquoise-bg {
  background-color: #76cdd8;
}
.rounded-circle {
  height: 300px;
  width: 300px;
  background-image: url("../img/image-04.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.epic_games_caption {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.button {
  color: white;
  background-color: #019999;
  padding: 12px 47px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-size: 1.15rem;
}
.button:hover { 
  background-color: #76cdd8;
}
.button-right {
  align-self: flex-end;
}
.about-epam:hover {
  color: #76cdd8;
}
.about-epam:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 50px solid transparent;
  border-right: 50px solid #76cdd8;
  border-top: 50px solid #76cdd8;
}
.about-epam.about-epam:nth-child(2):hover::before {
  right: 100%;
  border-left: 50px solid #76cdd8;
  border-right: 50px solid transparent;
  margin-right: -100px;
}
.lorem-section,
.plans-section {
  display: flex;
  margin-top: 30px;
  background-color: white;
}
.lorem-section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 63px;
}
.lorem-section > img,
.plans-section > img {
  width: 32%;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 68%;
}
.plan_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #019999;
  padding-bottom: 35px;
}
.plan_content ul {
  list-style: none;
  padding: 35px 50px;
}
.plan_header {
  background-color: #019999;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 300;
}
.plan_header p:first-child {font-size: 1.6rem;}
.plan:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.plan:hover .plan_button{
  background-color: #24d4d4;
}
.discount {
  display: none;
  color: #24d4d4;
}
.discount_star {
  color: crimson;
}
.plan:hover .discount{
  display: inline;
}
.application-form_header {
  margin: 30px 0 -50px;
  padding: 40px 48px 90px;
  background-color: #76cdd8;
}
.application-form_header h2 {
  width: 880px;
  color: white;
  margin: auto;
}
.application-form form{
  width: 744px;
  height: 365px;
  margin: auto;
  padding: 68px;
  background-color: white;
}
.application-form form,
.application-form .main_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.application-form .info {
  display: flex;
  justify-content: space-between;
}
.application-form .main_info {
  height: 270px;
}
.application-form input,
.application-form textarea {
  width: 300px;
  padding: 12px 20px;
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
.application-form select {
  width: 310px;
  padding: 15px;
  color: #666;
  font-size: 1.2rem;
  box-sizing: content-box;
}
.form-control:focus {
  outline:none;
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.application-form button {
  align-self: center;
}
footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 100px 15px 30px;
  margin-top: -50px;
  background-color: #019999;
  color: white;
  font-weight: 300;
  z-index: -1;
}
footer div {
  margin-bottom: 16px;
}
.copyright {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}
