.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-card:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.tm-bg-color-primary,
.tm-form-header {
    background-color: #76cdd8;
}

.tm-text-color-primary {
    color: #76cdd8;
}

.tm-bg-color-secondary,
.btn {
    background-color: #019999;
    border: none;
}

.tm-pricing-table {
    border-color: #019999;
}

.pl-md-5 {
    position: relative;
    z-index: 1;
    margin: -50px 0;
} 

section:first-child:hover,
section:nth-child(2):hover,
section:nth-child(3):hover {
    color: #76cdd8;
}

.tm-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 50px solid transparent;
    border-right: 50px solid #76cdd8;
    border-top: 50px solid #76cdd8;
}

.tm-col-md-reverse:hover::before {
    right: 100%;
    border-left: 50px solid #76cdd8;
    border-right: 50px solid transparent;
    margin-right: -100px;
}

.btn:hover {
    background-color: rgb(118, 205, 216);
}

.img-fluid {
    transition: 0.3s;
}

.img-fluid:hover {
    transform: scale(1.1);
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-pricing-table:hover .btn-secondary {
    background: #24d4d4;
}

.tm-pricing-table:hover .tm-pricing-discount{
    display: inline;
}

.tm-pricing-discount__star {
    color: crimson;
}

.tm-pricing-discount__text {
    color: #24d4d4;
}

.form-control:focus {
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}